body{
    background-color:white;
    color:black;
}
h1{
    text-align:left;
    color:rgb(78, 171, 194);
}
h2{
    text-align:left;
    color:rgb(54, 92, 134);
}
h3{
    text-align:left;
    color:rgb(43, 58, 107);
}
h4{
    text-align:left;
    color:rgb(58, 76, 99);
}
p{
    color:gray;
}

table{
    border: 1px solid rgb(148, 148, 148);
}
th,td{  
    border: 1px double black;
    text-align: center;
}   
th{ 
    background-color: rgb(61, 8, 185);
}

ul,li{
    color: grey;
}

#map {
    position: absolute; 
    top: 380px; 
    right: 200px; 
    bottom: 50px; 
    left: 200px;
}